/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: royalblue;
    /* background-color: hsl(200deg 20% 97%); */
}

/* COMMON */
.container{
    margin: auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cyan;
}
.val{
    vertical-align: middle;
}
.mt{
    margin-top: 10px;
}
.mb{
    margin-bottom: 10px;
}
.inb{
    display:inline
}
/* HEADER BANNER */

.banner{
    background-color: white; 
    margin-bottom: 50px; 
}

/* HEADER BUTTON */

.button-1{
    color: white;
    margin-left: 30px;
    border-radius: 5px;
    background: #73AD21;
    padding: 5px 10px;
    width: fit-content;
    display: inline-block;

}

.button-2{
    color: grey;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px 10px;
    width: fit-content;
    display: inline-block;
    
}

